/**
 * Define duration variables.
 */

duration--extra-long  ?= 350ms
duration--xl           = duration--extra-long

duration--long        ?= 250ms
duration--ln           = duration--long

duration--base        ?= 150ms
duration--md           = duration--base

duration--short       ?= 100ms
duration--sh           = duration--short

duration--extra-short ?= 50ms
duration--xs           = duration--extra-short
